<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>QueryMe</title>
</head>
<body>
  <header>
    <div class="logo">QueryMe</div>
    <div class="align-right">
      <div class="search">Search</div>
      <div class="sign-in">Sign In</div>
    </div>
  </header>
  <aside>
    <a class="side-link" href="#">Reports</a>
    <a class="side-link" href="#">Favourites</a>
    <a class="side-link" href="#">Admin</a>
  </aside>
  {{{body}}}
  <footer>
    <p>&copy; 2018 QueryMe</p>
  </footer>
</body>
</html>