<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>QueryMe</title>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo">QueryMe</div>
    <div class="align-right">
      <div class="search">Search</div>
      <div class="sign-in">Sign In</div>
    </div>
  </header>
  <div class="main-container">
    <div class="navigation">
      <p><a class="side-link" href="/categories">Reports</a></p>
      <p><a class="side-link" href="#">Favourites</a></p>
      <p><a class="side-link" href="#">Control Panel</a></p>
    </div>
    <div class="main-content">
      {{{body}}}
    </div>
  </div>
  <footer>
    <p>&copy; 2018 QueryMe</p>
  </footer>
</body>
</html>