body {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100vw;
  height: 100px;
  line-height: 100px;
  top: 0;
  background-color: #68B0AB; 
  display: flex;
  justify-content: space-between;
}

.main-content {
  min-width: 770px;
}

.capitalize {
  text-transform: capitalize;
}

.logo {
  font-family: 'Euphoria Script', cursive;
  font-size: 3rem;
  color: #FFF !important;
  padding: 20px !important;
}

.align-right {
  display: inline-block;
}

.main-container {
  margin-top: 100px;
  padding: 0 50px 30px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navigation {
  height: 100vh;
  padding: 20px;
  /*background-color: #B7D5D4;*/
}

.link-button {
  background: none;
  border: none;
  color: #000;
  padding: 0;
}

.link-button:focus {
  outline: none;
}

.fa-cog, .user-name, .dropdown.icon {
  color: #FFF;
  text-transform: capitalize;
}

.wrench {
  color: black;
}

form {
  display: inline-block;
}

.ui.menu {
  background-color: #68B0AB; 
}

.ui.menu.fluid, .ui.vertical.menu.fluid {
  height: 100vh;
}

.ui.segment {
  border: none;
  box-shadow: none;
}

.wide.column {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 50px !important; 
}

.ui.form {
  margin-bottom: 10px;
}

.right.menu a.item {
  color: #FFF !important;
}

#editor {
  height: 500px;
  width: auto;
  margin: 30px 0;
}

.error-message {
  background-color: lightgrey;
  padding: 15px;
  border-radius: 5px;
  font-style: italic;
}

.link {
  margin-top: 20px;
}

.fa-cog, .fa-folder-open, .fa-file, .fa-user {
  margin-right: 5px;
}

.authentication-wrapper {
  text-align: center;
}

.ui.form {
  text-align: left;
}

h2 {
  display: inline;
  margin-right: 10px; 
}

footer {
  position: fixed;
  width: 100vw;
  height: 50px;
  bottom: 0;
  background-color: #68B0AB; 
  padding: 0 10px;
  z-index: 999;
}