<a href="/categories"><i class="fas fa-arrow-left"></i></a>
<div>
  {{#each category_report}}
  <div>
    <i class="fas fa-file"></i>
    <a href="/reports/{{this.id}}">{{this.title}}</a>
  </div>
  {{/each}}
</div>

<script>
  window.onload = function() {
    $('.ui.dropdown').dropdown();
  }
</script>  
