<div class="ui header">Categories</div>
<form method="GET" action="/reports/new">
  <button class="ui primary button" type="submit">New Report</button>
</form>

<div>
  {{#each category}}
  <div class="link">
    <i class="fas fa-folder-open"></i>
    <a href="/categories/{{this.id}}">{{this.title}}</a>
  </div>
  {{/each}}
</div>

<script>
  window.onload = function() {
    $('.ui.dropdown').dropdown();
  }
</script>