<div class="ui header">Favourites</div>
<div>
  {{#if (equate count 0)}}
    <div class="ui info message">
      <p>Favourite some reports that you view often to access them easily.</p>
    </div>
  {{else}}
    {{#each results}}
    <div class="link">
      <i class="fas fa-file"></i>
      <a href="/reports/{{this.report_id}}">{{this.title}}</a>
    </div>
    {{/each}}
  {{/if}}
</div>

<script>
window.onload = function() {
  $('.ui.dropdown').dropdown();
}
</script>