<form class="ui form" method="POST" action="/users/forgot-password">
  <div class="field">
    <label>Work Email</label>
    <input type="text" name="email" placeholder="Work Email" required>
  </div>
  <button class="ui primary button" type="submit" >Send Reset Email</button>
</form>