<form id="new-user" class="ui form" method="POST" action="/users/login">
  <div class="field">
    <label>Work Email</label>
    <input type="text" class="email" name="email" placeholder="Work Email" required>
  </div>
  <div class="ui error message" style="display:none"></div>
  <div class="field">
    <label>Password</label>
    <input type="password" class="password" name="password" placeholder="Password" required>
  </div>
  <button class="ui primary button" type="submit" >Login</button>
</form>