<div class="ui negative message hidden">
  <div class="header">Link Expired/Invalid</div>
  <p>Please request another reset password email <a href="/users/forgot-password">here</a>.</p>
</div>
<form class="ui form reset-password">
  <div class="field">
    <label>New Password</label>
    <input type="password" id="password" required>
  </div>
  <div class="field">
    <label>Confirm Password</label>
    <input type="password" id="confirm-password" required>
  </div>
  <button class="ui primary button confirm-password">Confirm Password</button>
</form>

<script>
  window.onload = function() {
    $('.confirm-password').on('click', function(event) {
        event.preventDefault();
        $.ajax({
          method: "PUT",
          url: window.location + "?_method=PUT",
          data: { password: $('#confirm-password').val() }
        }).done(function(response){
          if (response.invalidToken == true) {
            $('.ui.negative.message').removeClass('hidden').addClass('visible');
          } else {
            window.location = '/users/login';
          }
        })
    })
  }
</script>