<p><input id="report-title" placeholder="Title..."></p>
<p><input id="report-description" placeholder="Description..."></p>
Category: <select class="ui dropdown">
  {{#each category}}
    <option value="{{id}}">{{title}}</option>
  {{/each}}
</select>
<div id="editor"></div>

<button id="report-save" class="ui primary button" type="submit">Save</button>
<form method="GET" action="/category/category">
  <button class="ui button" type="submit">Cancel</button>
</form>

<script>
  window.onload = function() {
    const editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/sql");
    document.getElementById('editor').style.fontSize='16px';
    
    $("#report-save").on('click', () => {
      $.ajax({
        method: "POST",
        data: { title: $("#report-title").val(),
                description: $("#report-description").val(),
                category_id: $('.dropdown option:selected').val(),
                query: editor.getValue()
              }

      }).done( (response) => {
          window.location = '/reports/' + response.id
      });
    })
  }
</script>